.d-flex{
    margin-top: 50px;
}

.btn{
    border-color: #51879f;
    color: #51879f;
    margin-left: 5px;
    margin-right: 5px; 
    text-align: center;
    font-size: 14px;
    flex: 1 1 auto;
    padding: 10px;
    border-radius: 5px
}

.btn:hover{
    font-size: 14px;
    padding: 10px;
    flex: 1 1 auto;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    background-image: linear-gradient(to right, #2a4249 0%, #236580 51%, #20789e 100%);
    border-radius: 5px
}

.textTheProcess{
    padding-left: 8%;
    padding-right: 8%;
}

#textTheProcess > .btn, #textTheProcess > p{
    margin-top: 35px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    text-justify: inter-word; 
}