<!-- Footer -->
<footer class="page-footer font-small pt-4">

    <div class="row">
        <img src="..\..\assets\LogoShokWorks.PNG" alt="LogoShokWorks" width="300px">
    </div>

        <!-- Footer Links -->
        <div class="container text-center text-md-left">
    
          <!-- Footer links -->
          <div class="row text-center text-md-left mt-3 pb-3">
    
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Contact Us</h6>
                <p>
                    <mdb-icon fas icon="phone" class="mr-3"></mdb-icon> +(1) 824-5428
                </p>
                <p>
                    <mdb-icon fas icon="map-marker-alt" class="mr-3"></mdb-icon> Miami, United States
                </p>
                <p>
                    <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon> yfuentes@shokworks.io
                </p>                    
            </div>
                  <!-- Grid column -->
          
    
            <hr class="w-100 clearfix d-md-none">
    
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Our Company</h6>
                <p>
                    <a href="#!">About</a>
                </p>
                <p>
                    <a href="#!">Product</a>
                </p>
                <p>
                    <a href="#!">Portfolio</a>
                </p>
                <p>
                    <a href="#!">Career</a>
                </p>
                <p>
                    <a href="#!">Blog</a>
                </p>
            </div>
            <!-- Grid column -->
    
            <hr class="w-100 clearfix d-md-none">
    
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Social Contacts</h6>
                <p>
                    <a href="#!">Facebook</a>
                </p>
                <p>
                    <a href="#!">Linked In</a>
                </p>
                <p>
                    <a href="#!">Youtube</a>
                </p>
                <p>
                    <a href="#!">Vimeo</a>
                </p>
                <p>
                    <a href="#!">Skype</a>
                </p>
            </div>
    
            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none">
            
            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Adress</h6>
                <p>
                    Internet Systems Consortium, Inc. 950 Charter Street Redwood City, CA USA.
                </p>
                <!-- Grid column -->
                 <div>
                    <h6 class="text-uppercase mb-4 font-weight-bold">Follow Us</h6>
                    <!-- Social buttons -->
                    <div class="text-center">
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item">
                                <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
                                    <mdb-icon fab icon="facebook"></mdb-icon>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
                                    <mdb-icon fab icon="twitter"></mdb-icon>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
                                    <mdb-icon fab fab icon="google-plus"></mdb-icon>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
                                    <mdb-icon fab icon="linkedin"></mdb-icon>
                                </a>
                            </li>
                        </ul>
                    </div>
          
                  </div>
                  <!-- Grid column -->
          
            </div>
            <!-- Grid column -->
            
          </div>
          <!-- Footer links -->
    
        </div>
        <!-- Footer Links -->
    
      </footer>
      <!-- Footer -->