<img src="..\..\assets\LogoShokWorks.PNG" alt="LogoShokWorks" width="300px" id="LogoShokWorks">
<ul class="nav justify-content-center white lighten-4 py-4">
    <li class="nav-item">
        <a class="nav-link active" href="#!">Home</a>
        <p id="punto"> • </p>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#!">About</a>
        <p id="punto"> • </p>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#!">Portfolio</a>
        <p id="punto"> • </p>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#!">Product</a>
        <p id="punto"> • </p>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#!">Career</a>
        <p id="punto"> • </p>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#!">Blog</a>
        <p id="punto"> • </p>
    </li>
    <li class="nav-item">
        <input class="form-control " placeholder="Search">
    </li>
    <li class="nav-item">
        <button type="button" class="btn btnGradient btnContactUs" rounded="true" >Contact Us</button>
    </li>
</ul>
