<div class="back-form">
    <div class="row titleForm">
        <h2> Facing Problem? <br> <b> Lets Get In Touch Now </b></h2>
    </div>
    <div class="row">
        <div class="col-sm-7 form">
            <!-- Material form register -->
            <mdb-card>
        
                <!--Card content-->
                <mdb-card-body class="px-lg-5 pt-0">
            
                    <!-- Form -->
                    <form class="text-center" style="color: #757575;">
                
                        <div class="form-row">
                            <div class="col">
                                <!-- First name -->
                                <div class="md-form">
                                    <input type="text" id="materialRegisterFormFirstName" style="font-size: 14px" class="form-control" placeholder="Robert Lee" mdbInput>
                                    <label for="materialRegisterFormFirstName" style="font-size: 20px; color: black"> <b>First name</b> </label>
                                </div>
                            </div>
                            <div class="col">
                                <!-- Last name -->
                                <div class="md-form">
                                    <input type="email" id="materialRegisterFormLastName" style="font-size: 14px" class="form-control" placeholder="Anderson" mdbInput>
                                    <label for="materialRegisterFormLastName" style="font-size: 20px; color: black">Last name</label>
                                </div>
                            </div>
                        </div>
                
                        <!-- E-mail -->
                        <div class="md-form mt-0">
                            <input type="email" id="materialRegisterFormEmail" class="form-control" style="font-size: 14px" placeholder="kevin.jones@mail.com" mdbInput>
                            <label for="materialRegisterFormEmail" style="font-size: 20px; color: black">Your Email Adress</label>
                        </div>
                
                        <!-- Password -->
                        <div class="md-form">
                            <label style="font-size: 20px; color: black">Which Related Problem Your Facing?</label>
                            <mdb-select [options]="optionsSelect" placeholder="Choose your option"></mdb-select>                                                    
                        </div> 
                
                        <!-- Phone number -->
                        <div class="md-form">
                                <textarea type="text" id="form7"  style="font-size: 14px" class="md-textarea form-control" placeholder="Here goes your message" mdbInput></textarea>
                                <label for="form7" style="font-size: 20px; color: black">Type Your Message</label>
                        </div>
                
                        <hr>
                
                        <!-- Terms of service -->
                        <button type="button" class="btn btnGradient btnContactUs" rounded="true" >Our Works</button>
                
                    </form>
                    <!-- Form -->
            
                </mdb-card-body>
        
            </mdb-card>
        <!-- Material form register -->
        </div>

        <div class="col-sm-4 imgForm">
            <img src="..\..\assets\banner-1.png" alt="" width="400" height="400">
        </div>

    </div>
</div>    